/* font style */
.fira-sans-regular {
  font-family: "Fira Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;


}

*{
  margin: 1px;
  padding: 0px;
}

/* share style start */
main{
  max-width: 1140px;
  margin: 0 auto;
}
.section-gap{
margin-top: 80px;
}

/* share style end */

 /* navbar style */
.navbar{
  display: flex;
  justify-content: space-between;
  padding: 24px 160px;

}
.in-btn{
  font: size 18px;
  font-weight:600;
  padding: 15px 30px;
  color:#006A50 ;
  background-color: white;
  border: 1px solid #006A50;
  border-radius: 8px;
}
/* navbar style end */

/* hero-section start */
.hero-section{
 
  background-color:#C6E4D6;
  display: flex;
  justify-content: space-between;
  padding: 80px 100px;
  border-radius: 24px;
  margin: 20px 160px 80px 160px;
  
}
.poco{
  font-size: 24px;
  font-weight: 500;
  color:rgba(14, 14, 14, 0.5);
}

.poco1{
  font-size: 56px;
  font-weight: bold;
}

.poco2{
  font-size: 18px;
  font-weight: 600px;
  width: 270px;
  height: 56px;
  padding: 17px 34px;
  color: #FFFFFF;
  background-color:#006A50;
  border-radius: 8px;
  border: none;
  margin-top: 24px;
}

.poco3{
  width: 474px;
  height: 400px;
  gap: 64px;
}

/* hero-section end */ 

/* pillars container style start */
.section-gap{
 padding: 0px 160px; rgb
}

.pillars-title-font{
  font-size: 40px;
  font-weight: bold;
  padding-block-end: 32px;
}

.pillars-container{
  display: flex;
   gap: 24px;
  justify-content: space-between;
}

.pillars{
padding: 24px 24px;
border-radius: 16px;
border: 1px solid #D5D6D8;

}

.pillars-title{
  font-size: 20px;
  font-weight: bold; 
  text-align: start;
  color: rgba(14, 14, 14, 0.8);
}

.pillars-discretion{
  text-align: left;
  font-size: 16px;
  font-weight: 500px;
  padding:36px 0px 0px 0px ;
  color: rgba(14, 14, 14, 0.7);
}


/* pillars container style end */
.vision-card{
  padding: 80px 160px 32px 160px;
}

.vision-card-title{
  font-size: 40px;
  font-weight: bold;
  text-align: left;
  padding-block-end: 24px;
  
}

.vision-card-box{
  display: flex;
  justify-content: space-around;
  gap: 24px;
}

.vision-description{
  font-size: 16px;
  font-weight: 400px;
  color: rgba(14, 14, 14, 0.8);
  padding-block-end: 32px;

}

.vision-box{
  width: 410px;
  height:310px;
  padding: 32px 32px;
border-radius: 16px;
border: 1px;
border-color: none;
}
.icon-size{
  height: 64px;
  width: 64px;
  padding-block-end: 24px;
}
.vision-card-box-title{
  font-size: 20px;
  font-weight: bold;
  padding-block-end: 12px;
  
}
.vision-card-description{
  width: 345px;
  height: 72px;
  font-size: 16px;
  font-weight: 400px;
  color: rgba(14, 14, 14, 0.8);
  padding-block-end: 24px;
}

/* vision-box background style start */
.bg-color-1{
  background-color:#81B4FC;
}

.bg-color-2{
  background-color: #C6E4D6;
}

.bg-color-3{
  background-color: #F7EBCF;
}
/* background style end */
/* vision-card-btn style start*/
.vision-card-btn1{
   font-size: 16px;
  font-weight:500;
  padding: 15px 30px;
  color: #FFFFFF ;
  background-color:#5490F5 ;
  border: 1px solid #5490F5;
  border-radius: 8px;
  
}

.vision-card-btn2{
   font-size: 16px;
  font-weight:500;
  padding: 15px 30px;
  color: #FFFFFF ;
  background-color:#09A15C ;
  border: 1px solid #09A15C;
  border-radius: 8px;
  
}

.vision-card-btn3{
   font-size: 16px;
  font-weight:500;
  padding: 15px 30px;
  color: #FFFFFF ;
  background-color:#FFC239 ;
  border: 1px solid #FFC239;
  border-radius: 8px;
  
}
/* vision-card-btn style end */

/* testimonial style start */
.testimonial{
 padding: 0px 160px ;
 padding-block-end: 80px;
 background-color: #FFFFFF;
}

.quote{
  background-image: url(../assets/quote-bg.png);
  background-repeat: no-repeat;
  background-position: top left ;
  font-size: 16px;
  font-weight: 400px;
  color:rgba(14, 14, 14, 0.7) ;
  line-height: 24px;

}

.pooki{
  font-size: 20;
  font-weight: 500px;
  line-height: 24px;
  color: #0E0E0E;
}
.pooki-post{
  font-size: 16;
  font-weight: 400px;
  color: rgba(14, 14, 14, 0.8);
}

.poco4{
  padding: 24px 48px;
  border: 1px solid #D5D6D8;
  border-radius: 16px;
}
/* testimonial style end */